{% extends 'base.html' %}
{% load static %}
<!-- page title -->
{% block page-title %}{{ block.super }}{% endblock %}

<!-- main content -->
{% block main-content %}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Importante!</h4>
    <p>Só será possível escolher um horário por email, telefone e nome</p>
    <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
</div>
<section id="scheduler">
    <div class="container">
        <div class="row">
            <div class="col">
                <label for="">Selecione o dia da semana</label>
                <select class="form-select form-select-lg " aria-label="Default select example" v-model="selected_day"
                    v-on:change="changeWeek">
                    <option v-for="(day, index) in days_week" v-bind:value="day.pk">
                        [[ day.name ]]
                    </option>
                </select>
            </div>
            <div class="col">
                <label for="">Selecione a hora</label>
                <select class="form-select form-select-lg " aria-label="Default select example" v-model="selected_hour">
                    <option v-for="(hour, index) in hours_week" v-bind:value="hour.pk">
                        [[ hour.hours ]]
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label" for="">Digite seu Primeiro </label>
                <input class="form-control form-control-lg" type="text" v-model="primeiro_nome" v-on:keyup="edit = true"
                    v-on:blur="edit = true" v-on:paste="edit = true" v-on:delete="edit = true" v-on:focus="edit = true">
            </div>
            <div class="col">
                <label class="form-label" for="">Digite seu ultimo nome</label>
                <input class="form-control form-control-lg" type="text" v-model="ultimo_nome" v-on:keyup="edit = true"
                    v-on:blur="edit = true" v-on:paste="edit = true" v-on:delete="edit = true" v-on:focus="edit = true">

            </div>
        </div>

        <div class="row">
            <div class="col-auto">
                <label for="">Selecione a área que você lidera</label>
                <select class="form-select form-select-lg " aria-label="Default select example" v-model="areas">
                    <option value="Links">Links</option>
                    <option value="areas_executivas" selected>Áreas executivas</option>
                    <option value="ministerios">Ministérios</option>
                    <option value="Dunamis">Dunamis</option>
                </select>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label" for="">Digite seu email </label>
                <input class="form-control form-control-lg" type="text" v-model="email" v-on:keyup="edit = true"
                    v-on:blur="edit = true" v-on:paste="edit = true" v-on:delete="edit = true" v-on:focus="edit = true">

            </div>
            <div class="col-auto">
                <label class="form-label" for="">Digite seu telefone </label>
                <input class="form-control form-control-lg" type="text" v-model="telefone" v-on:keyup="edit = true"
                    v-on:blur="edit = true" v-on:paste="edit = true" v-on:delete="edit = true" v-on:focus="edit = true">

            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <button v-on:click="saveScheduler" type="button" class="btn btn-primary btn-lg">Salvar</button>
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block js-body %}
<script src="{% static 'js/scheduler.js' %}"></script>
{% endblock %}